.header {
  position: relative;
  display: flex;
  padding: 15px 165px;
  min-height: 54px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back-button {
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
  line-height: 0;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 700px) {
  .header {
    padding: 10px 15px;
    min-height: 44px;
  }
}
