.content-wrapper {
  padding: 0 15px;
}

.content-container {
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

/* Mobile */
@media (max-width: 700px) {
  .content-container {
    margin-bottom: 15px;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.text-container.text-container__special {
  gap: 20px;
  margin-top: 16px;
  margin-bottom: 40px;
  text-align: center;
}

.actions-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
