:root {
  --primary-gradient: linear-gradient(166deg, #141333 -33.39%, #202261 15.89%, #543C97 55.84%, #6939A1 74.96%);

  --primary-background: #FFF0F0;
  --secondary-background: var(--primary-gradient);

  --primary-typography-color: #333333;
  --secondary-typography-color: #FBFBFF;

  --primary-button-border: 0;
  --primary-button-background: #FBFBFF;
  --primary-button-color: #6A3AA2;
  --primary-button-active-background: #FBFBFF;
  --primary-button-active-color: #6A3AA2;
  --primary-button-shadow: 0px 4px 4px 0px rgba(216, 214, 214, 0.25);

  --secondary-button-border: 1px solid #E0E0E0;
  --secondary-button-background: #EAEEF7;
  --secondary-button-color: #000;
  --secondary-button-active-background: var(--primary-gradient);
  --secondary-button-active-color: #FBFBFF;
  --secondary-button-shadow: 2px 2px 6px 0px rgba(84, 60, 151, 0.25);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--primary-typography-color);
  background: var(--primary-background);
}
